body{
    font-family: 'Exo2', sans-serif;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #333;
}
.p-0{
    padding: 0;
}
.text1{
    display: block;
    position: absolute;
    top: 250px;
    right: 500px;
    color: #fff;
    margin: 0 0 0 50px;
}
h1{
    font-size: 28px;
    color: coral;
    text-align: center;
}

p{
    font-size: 18px;
    font-weight: 100;
}
